# ================================
# OS / エディタ関連
# ================================
.DS_Store

# IDE / エディタ
/.idea
.vscode/*
!.vscode/extensions.json

# ================================
# 環境変数ファイル
# ================================
.env
.env.*
!.env.example
*.local

# ================================
# パッケージ・依存物
# ================================
node_modules

# ================================
# ビルド成果物
# ================================
dist
dist-ssr
.vite
*.tsbuildinfo

# ================================
# ログ・デバッグ
# ================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ================================
# その他
# ================================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
