html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #121212;
  color: #ddd;
  font-family: "Noto Sans JP", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}